@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'product-sans';
    src: url(/frontend/src/assets/fonts/Product-Sans.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cotta';
    src: url(/frontend/src/assets/fonts/Cotta.otf);
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-yellow-pastel: #f5c6cb;
    --color-green-pastel:#42544D;
    --color-orange-pastel: #FD7E1C;
    --color-grey-pastel:'#A4A4A4';
    --color-black-pastel:'#506760';
    --color-background: '#EEE';
    --color-light:'#f9f9f9';
    --color-dark:'#342E37';
    --color-red-pastel:'#dc3545';
}

